@model Integrador.Models.Usuarios_Dir

@{
    ViewBag.Title = "Direccion";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div>
    <h4>Usuarios_Dir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Int)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Int)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

    </dl>
</div>
<div class="col-md-4">
    <div class="form-group">
        @Html.ActionLink("Datos", "Dashboard", "Usuario", new { id = ViewBag.usuario }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
        @Html.ActionLink("Editar Direccion", "Direccion", "Usuario", htmlAttributes: new { @class = "btn btn-primary btn-block" })
    </div>
</div>
