@model Integrador.Models.Carritos

@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-9">
            <table class="table table mdl-data-table table-striped">
                <tr>
                    <th>
                        Articulo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Activo)*@
                    </th>
                </tr>

                @foreach (Integrador.Models.Carritos_D item in ViewBag.CarritoD)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            <a href="" id="Confirma" onclick="pop(@item.ID)">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }

                <tfoot>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td>
                            <strong>$@Model.Total</strong>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="col-lg-9">
                
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function pop(id) {

        if (confirm("Eliminar")) {

            $.ajax({
                type: "POST",
                url: '../Carrito/DeleteConfirmed',
                dataType: "json",
                data: { "id": id },
                success: function (data) {
                    alert("Eliminado")
                }
            });
        }
        else {
        }
    };
</script>