<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Estilos/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Estilos/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Estilos/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="~/Estilos/assets/css/custom-styles.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-white top-navbar fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="brand-logo">
                <img src="~/images/EmiTrack.png" width="130" height="65" style="padding-top: 8px; padding-left: 8px; " />
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            @if (ViewBag.Usuario != null)
            {
                if (ViewBag.Tipo == 2)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-shopping-cart fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>Producto 1</strong>
                                        @*<span class="pull-right text-muted">
                                                <em>Today</em>
                                            </span>*@
                                    </div>
                                    <div>Producto 1</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>Producto 2</strong>
                                        @*<span class="pull-right text-muted">
                                                <em>Today</em>
                                            </span>*@
                                    </div>
                                    <div>Producto 2</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>Producto 3</strong>
                                        @*<span class="pull-right text-muted">
                                                <em>Today</em>
                                            </span>*@
                                    </div>
                                    <div>Producto 3</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Realizara Compra</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Dashboard", "Usuario", new { id=ViewBag.usuario })"><i class="fa fa-user fa-fw"></i> Perfil de Usuario</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOut", "Cuentas")"><i class="fa fa-sign-out fa-fw"></i> Cerrar</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="dropdown">
                    @Html.ActionLink("Registro", "Registro", "Usuario")
                </li>
                <li class="dropdown">
                    @Html.ActionLink("Entrar", "Login", "Cuentas")
                </li>
            }
        </ul>
    </nav>

    <nav class="nav-second-level navbar-right">
        @using (Html.BeginForm("Buscar", "Home", FormMethod.Get))
        {
        <div>
            <input type="text" name="palabra" class="form-control" placeholder="Buscar">
            @*@Html.Editor("palabra", new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar" } })*@
            @*<input type="submit" value="" />*@
        </div>
        }
    </nav>
    <!--/. NAV TOP  --><br /><br />
    <div id="wrapper">
        <nav class="navbar-light bg-white navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Principal</a>
                    </li>
                    @if (ViewBag.Usuario != null)
                    {
                        <li>
                            <a @*class="active-menu"*@ href="@Url.Action("Dashboard", "Usuario", new { id = ViewBag.usuario })"><i class="fa fa-dashboard"></i> Usuario</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-edit"></i> Editar Datos</a>
                            </li>*@
                        if (ViewBag.Tipo == 1)
                        {
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o"></i> Charts</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-qrcode"></i> Reportes<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="@Url.Action("Productos", "Report")">Productos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Clientes", "Report")">Clientes</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Ventas", "Report")">Ventas</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (ViewBag.Tipo == 2)
                        {
                            <li>
                                <a href="#"><i class="fa fa-table"></i> Mis Compras</a>
                            </li>
                        }
                    }

                    <li>
                        <a href="#"><i class="fa fa-list"></i> Productos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            @if (ViewBag.Usuario != null && ViewBag.Tipo == 1)
                            {
                                <li>
                                    <a href="#">Lista de Productos</a>
                                </li>
                            }
                            <li>
                                <a href="#">Categoria 1</a>
                            </li>
                            <li>
                                <a href="#">Categoria 2</a>
                            </li>
                            <li>
                                <a href="#">Categoria 2</a>
                            </li>
                            @*<li>
                                    <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>

                                    </ul>

                                </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Contacto", "Home")"><i class="fa fa-fw fa-phone"></i> Contacto</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Emitrack", "Home")"><i class="fa fa-fw fa-arrow-down"></i> Emitrack</a>
                    </li>

                </ul>
            </div>

        </nav>
    </div>
    <div>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Emitrack</p>
        </footer>
    </div>

    <script src="~/Estilos/EstiloIndex/vendor/jquery/jquery.min.js"></script>
    <script src="~/Estilos/EstiloIndex/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Estilos/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Estilos/assets/js/bootstrap.min.js"></script>
    <script src="~/Estilos/assets/js/jquery.metisMenu.js"></script>
    <script src="~/Estilos/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Estilos/assets/js/morris/morris.js"></script>
    <script src="~/Estilos/assets/js/custom-scripts.js"></script>

</body>
</html>
