@model Integrador.Models.ForgotViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Cuentas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="form-label-group">
                        <select class="form-control" name="mostrar" id="mostrar">
                            <option value="" class="form-control" disabled selected>Metodo</option>
                            <option value="0" class="form-control">Email</option>
                            <option value="1" class="form-control">Usuario</option>
                        </select>
                    </div>
                </div>
                @if (ViewBag.Error != null)
                {
                    <label style="color:red">@ViewBag.Error</label>
                }
                <div class="form-group">
                    <div class="form-label-group" id="Email" hidden>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @autofocus = "autofocus", @class = "form-control", @placeholder = "Email" } })
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-label-group" id="User" hidden>
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @autofocus = "autofocus", @class = "form-control", @placeholder = "Usuario" } })
                        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="card-action form-group">
                <input type="submit" value="Enviar" class="btn btn-primary btn-block" onclick="this.form.submit(); this.disabled=true; this.value='....'" />
            </div>
            <div class="text-center form-group">
                @Html.ActionLink("Iniciar Sesión", "Login", "Cuentas")<br />
                @Html.ActionLink("Registro", "Registro", "Usuario")
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $('#mostrar').change(function () {
        var valor = $(this).val();
        if (valor == 0) {
            $('#Email').removeAttr('hidden');
            $('#User').attr('hidden', true);
        }
        else if (valor == 1) {
            $('#User').removeAttr('hidden');
            $('#Email').attr('hidden', true);
        }
    });
</script>
