@using Integrador.Models
@model LoginViewModel
@{
    /**/

    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Cuentas", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @*<div class="card-content">*@

                @*<h4>Login</h4>*@
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="form-label-group">
                        @Html.TextBoxFor(m => m.ID, new { @autofocus = "autofocus", @class = "form-control", @placeholder = "Usuario" })
                        @Html.LabelFor(m => m.ID)
                        @Html.ValidationMessageFor(m => m.ID, "", new { @id = "msg-id", @class = "red-text" })
                        <script>
                            var msg = document.getElementById("msg-id").innerHTML;
                            if (msg != "") {
                            }
                        </script>
                    </div>
                    <div class="form-label-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @id = "msg-pass", @class = "red-text" })
                        <script>
                            var msg = document.getElementById("msg-pass").innerHTML;
                            if (msg != "") {
                            }
                        </script>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="card-action form-group">
                <input type="submit" value="Login" class="btn btn-primary btn-block" onclick="this.form.submit(); this.disabled=true; this.value='....'" />
            </div>
            <div class="text-center form-group">
                @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")<br />
                @Html.ActionLink("Registro", "Registro", "Usuario")
            </div>
        </div>
    </div>
        @*</div>
    </div>*@
     //Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
        
}
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@



