
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        <small>@ViewBag.usuario</small>
                    </h1>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-2">
                        @Html.Label("Productos", htmlAttributes: new { @id = "lbl_puesto", @class = "form-check-label" })
                        <select name="Producto" id="Producto" class="comcode form-control" required style="width:150px">
                            @if (ViewBag.Productos.Count > 0)
                            {
                                <option id="" value="" disabled selected>Producto</option>
                                <option id="Todos" value="Todos">Todos</option>
                                foreach (var item in ViewBag.Productos)
                                {
                                    <option id="@item.ID" value="@item.ID">@item.Nombre</option>
                                }
                            }
                            else
                            {
                                <option value="" id="no_opt">No hay opciones</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Categoria", htmlAttributes: new { @id = "lbl_puesto" })
                        <select name="Metod_Pago" id="Metod_Pago" class="comcode form-control" required style="width:150px">
                            @if (ViewBag.Tipos.Count > 0)
                            {
                                <option id="" value="" disabled selected>Categoria</option>
                                <option id="Todos" value="Todos">Todas</option>
                                foreach (var item in ViewBag.Tipos)
                                {
                                    <option id="@item.ID" value="@item.ID">@item.Descripcion</option>
                                }
                            }
                            else
                            {
                                <option value="" id="no_opt">No hay opciones</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Usuarios", htmlAttributes: new { @id = "lbl_puesto" })
                        <select name="Metod_Pago" id="Metod_Pago" class="comcode form-control" required style="width:150px">
                            @if (ViewBag.Usuarios.Count > 0)
                            {
                                <option id="" value="" disabled selected>Usuario</option>
                                <option id="Todos" value="Todos">Todos</option>
                                foreach (var item in ViewBag.Usuarios)
                                {
                                    <option id="@item.ID" value="@item.ID">@item.ID</option>
                                }
                            }
                            else
                            {
                                <option value="" id="no_opt">No hay opciones</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        
                    </div>
                    <div class="col-sm-2">
                        <input type="button" value="Aceptar" id="Aceptar" class="btn btn-primary" />
                    </div>
                </div>

                <div class="col-md-12">
                    <table id="table" class="table table mdl-data-table table-striped">
                        <thead>
                            <tr>
                                <th>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $('#Aceptar').click(function () {
        
    });
</script>
